@page "/personedit"
@page "/personedit/{PersonID}"

@using WorkersOnSite_2.Shared


@if (!Saved)
{
  <section class="person-edit">
    <h1 class="page-tittle">Details for Worker @Person.PersonFName @Person.PersonLName</h1>
    <EditForm Model="@Person" OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
      <DataAnnotationsValidator />
      <ValidationSummary></ValidationSummary>

      @*<div class="form-group" row>
        <label for="image" class="col-sm-3">/Select Image</label>
      <InputFile OnChange="OnInputFileChange" multiple/>
    </div>*@


      @*<div class="form-group row">
      <label for="personLastName" class="col-sm-3">Last Name:</label>
      <input @ref="PersonLastNameInput" id="personLastName" class="form-control col-8" @bind="@Person.PersonLName" />
    </div>*@




      <div class="form-group row">
        <label for="personFirstName" class="col-sm-3">First Name:</label>
        <InputText id="personFirstName" class="form-control col-8" @bind-Value="@Person.PersonFName" placeholder="Please enter the first name" />
        @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Person.PersonFName)"/>*@
      </div>

      @*<div class="form-group row">
      <label for="personMiddleInitial" class="col-sm-3">Middle Initial:</label>
      <InputText id="personMiddleInitial" class="form-control col-8" @bind-Value="@Person.PersonMInitial" placeholder="Enter the middle initial" />
    </div>*@


      @*This is co the middle initial*@
      @*<div class="form-group row">
      <label for="personLastName" class="col-sm-3">Last Name:</label>
      <InputText id="personLastName" class="form-control col-8" @bind-Value="@Person.PersonLName" placeholder="Please enter the last name" />
    </div>*@

    <div class="form-group row">
      <label for="personLastName" class="col-sm-3">Last Name:</label>
      <input @ref="personLastName" id="personLastName" class="form-control col-8" @bind="@Person.PersonLName" placeholder="Please enter the last name" />
      @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Person.PersonLName)" />*@
    </div>

      <div class="form-group row">
        <label for="personSSN" class="col-sm-3">SSN:</label>
        <InputText id="personSSN" class="form-control col-8" @bind-Value="@Person.PersonSSN" placeholder="Please enter the SSN" />
      </div>



      <div class="form-group row">
        <label for="personBirthday" class="col-sm-3">SSN:</label>
        <InputDate id="personBirthday" class="form-control col-8" @bind-Value="@Person.PersonBirthday" />
      </div>



      <div class="form-group row">
        <label for="personPhoneNumber1" class="col-sm-3">Phone Number 1:</label>
        <InputText id="personPhoneNumber1" class="form-control col-8" @bind-Value="@Person.PersonPhoneNumber1" placeholder="Please enter Phone Number 1" />
        @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Person.PersonPhoneNumber1)" />*@
      </div>

      <div class="form-group row">
        <label for="personPhoneNumber2" class="col-sm-3">Phone Number 2:</label>
        <InputText id="personPhoneNumber2" class="form-control col-8" @bind-Value="@Person.PersonPhoneNumber2" placeholder="Please enter Phone Number 2" />
        @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() =>Person.PersonPhoneNumber2)" />*@
      </div>

      <div class="form-group row">
        <label for="team" class="col-sm-3">Team:</label>
        <InputSelect id="team" class="form-control col-sm-8" @bind-Value="@Person.TeamID">
          @foreach (var team in Teams)
          {
            <option value="@team.TeamID">@team.TeamName</option>
          }
        </InputSelect>
      </div>

      <div class="form-group row">
        <label for="type" class="col-sm-3">Person Type:</label>
        <InputSelect id="team" class="form-control col-sm-8" @bind-Value="@Person._PersonType">

        <option value="@(PersonType.Customer)">Customer</option>
        <option value="@(PersonType.Employee)">Employee</option>
        <option value="@(PersonType.Manager)">Manager</option>
        <option value="@(PersonType.TeamLead)">Team lead</option>

        </InputSelect>
      </div>

      @if (Person.PersonID != "")
      {
        <a class="btn btn-danger" @onclick="@DeletePerson">Delete</a>
      }

      <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>

      <button type="submit" class="btn btn-primary edit-btn">Save person</button>

    </EditForm>



  </section>

}
else
      {
        <div class="alert @StatusClass">@Message</div>
      }














