@page "/siteoverview"

<h1 class="page-title">All Sites</h1>

@if (Sites == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        @*<th>Site ID</th>*@
        <th>Site Name:</th>
        <th>Site Location:</th>
        <th>Is the Work completed:</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var site in Sites)
      {
      <tr>
        @*<td>@oneSite.SiteID</td>*@
        <td>@site.SiteName</td>
        <td>@site.SiteLocation</td>
        <td>@(site.SiteIsCompleted ? "Yes" : "No")</td>
        <td>
          <a href="@($"/sitedetail/{site.SiteID}")" class="btn btn-primary table-btn">
            <i class="fas fa-info-circle"></i>
          </a>
          <a href="@($"siteedit/{site.SiteID}")" class="btn btn-primary table-btn">
            <i class="fas fa-info-edit"></i>
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
}


